<div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Work-Experience or Internship

        </div>
      <form [formGroup]="intershipForm" (ngSubmit)="intershipForm.valid && onInternshipSubmit()" noValidators>
        <div class="form-container">
          <mat-form-field>
            <input id="experience" matInput formControlName="experience" [(ngModel)]="user.experience" placeholder="Experience"/>
          </mat-form-field>

          
          <mat-form-field>
              <input id="organization" matInput formControlName="organization" [(ngModel)]="user.organization" placeholder="Organization"/>
         </mat-form-field>
  
          <mat-form-field>
            <input id="designation" matInput formControlName="designation" [(ngModel)]="user.designation" placeholder="Designation"/>
          </mat-form-field>
          
          <mat-form-field>
              <input id="from" matInput formControlName="from" [(ngModel)]="user.from" placeholder="From(Date of joining)"/>
          </mat-form-field>

          <mat-form-field>
              <input id="to" matInput formControlName="to" [(ngModel)]="user.to" placeholder="To"/>
          </mat-form-field>
            
          
  
  
          <button mat-button type="submit" class="mat-raised-button mat-primary">Register</button>
          <button mat-button routerLink="/login" class="divider">Login</button>
  
        </div>
      </form>
    </div>
  </div>
  