<div class="banner-post-background banner-background " style="transform: translate(0px, 0px);">


</div>

<!-- <div class="headerCreate">
  <h1 data-sl-variant="h1" class="bannerHeaderText">
    Create a professional resume with Canva’s free resume builder </h1>
    <div class="btn-landing-page">
      
    </div>
</div> -->
<div class=".bannerCreate__header">
<div class="jumbotron headerCreate text-center">
  <h1 class="display-4 bannerHeaderText">Create a professional resume</h1>
  <p class="lead">
    <a class="btn btn-primary create-btn btn-lg" routerLink='/login' role="button">Create your own resume </a>
  </p>
</div>
</div>