.example-container{
  height: 100%;
  margin:10px;

}
.form__select{
  position: relative;
    margin-top: 4px;
}

.form__input--md, .input-md {
  font-size: 1.4rem;
  line-height: 20px;
  padding: 10px 16px;
  border-radius: 3px;
}
.form-input{
  display: block;
}
.form__input, .input-lg, .input-md {
  background-color: #eff1f2;
  transition: background .5s linear, border-color .5s linear;
  vertical-align: middle;
  border: 0;
  border-top: 2px solid #e3e7eb;
  position: relative;
}